Repository ethyca/fides-helm, changes with the labels that .github/labeler.yml gives for each.
All labels: helm/fides, helm/fides-minimal, documentation, ci/cd

feat: Add pod/container security contexts to test-connection pod.
  fides/templates/tests/test-connection.yaml
Labels: helm/fides

fix indentation
  fides/templates/tests/test-connection.yaml
Labels: helm/fides

refactor: add newlines at end of files
  fides/config/privacyCenterConfig.json
  fides/templates/NOTES.txt
  fides/templates/fides/fides-secrets.yaml
  fides/templates/fides/worker-config.yaml
  fides/templates/privacy-center/config.yaml
  fides/templates/s3/s3-bucket.yaml
Labels: helm/fides

refactor: rename `volume` var to `configVolume`
  fides/templates/fides/fides-deployment.yaml
  fides/templates/fides/worker-deployment.yaml
Labels: helm/fides

feat: Add support for Redis SSL CA certificates
  CHANGELOG.md
  README.md
  fides/Chart.yaml
  fides/templates/_helpers.tpl
  fides/templates/fides/fides-deployment.yaml
  fides/templates/fides/worker-deployment.yaml
  fides/values.yaml
Labels: helm/fides, documentation

Update index.yaml
  index.yaml
Labels: none

Update docs links and add CA conditional
  fides-minimal/values.yaml
  fides/templates/fides/fides-deployment.yaml
  fides/templates/fides/worker-deployment.yaml
  fides/values.yaml
Labels: helm/fides, helm/fides-minimal

Bump version.
  fides-minimal/Chart.yaml
  fides/Chart.yaml
Labels: helm/fides, helm/fides-minimal

Update fides/Chart.yaml
  fides/Chart.yaml
Labels: helm/fides

Update changelog.
  CHANGELOG.md
Labels: documentation

Update index.yaml
  index.yaml
Labels: none

OPS-1069: Add worker differentiation, and change setting defaults
  fides-minimal/templates/_helpers.tpl
  fides-minimal/templates/fides/fides-config.yaml
  fides-minimal/templates/fides/worker-config.yaml
  fides-minimal/templates/fides/worker-deployment.yaml
  fides-minimal/values.yaml
  fides/templates/_helpers.tpl
  fides/templates/fides/fides-config.yaml
  fides/templates/fides/worker-config.yaml
  fides/templates/fides/worker-deployment.yaml
  fides/values.yaml
Labels: helm/fides, helm/fides-minimal

Update user override functionality
  fides-minimal/templates/fides/worker-deployment.yaml
  fides-minimal/values.yaml
  fides/templates/fides/worker-deployment.yaml
  fides/values.yaml
Labels: helm/fides, helm/fides-minimal

Fix pod naming
  fides-minimal/templates/_helpers.tpl
  fides/templates/_helpers.tpl
Labels: helm/fides, helm/fides-minimal

Add smart detection of LB, and auto select http and https
  fides-minimal/templates/_helpers.tpl
  fides-minimal/values.yaml
  fides/templates/_helpers.tpl
  fides/values.yaml
Labels: helm/fides, helm/fides-minimal

Add override functionality
  fides-minimal/templates/_helpers.tpl
  fides/templates/_helpers.tpl
Labels: helm/fides, helm/fides-minimal

Remove localhost overcomplications
  fides-minimal/templates/_helpers.tpl
  fides/templates/_helpers.tpl
Labels: helm/fides, helm/fides-minimal

Update changelog and change bitnami to legacy
  CHANGELOG.md
  fides/values.yaml
Labels: helm/fides, documentation

OPS-1069: Add worker differentiation, change setting defaults, and update bitnami images
  CHANGELOG.md
  fides-minimal/templates/_helpers.tpl
  fides-minimal/templates/fides/fides-config.yaml
  fides-minimal/templates/fides/worker-config.yaml
  fides-minimal/templates/fides/worker-deployment.yaml
  fides-minimal/values.yaml
  fides/templates/_helpers.tpl
  fides/templates/fides/fides-config.yaml
  fides/templates/fides/worker-config.yaml
  fides/templates/fides/worker-deployment.yaml
  fides/values.yaml
Labels: helm/fides, helm/fides-minimal, documentation

Bump versions and update CHANGELOG.md
  CHANGELOG.md
  fides-minimal/Chart.yaml
  fides/Chart.yaml
Labels: helm/fides, helm/fides-minimal, documentation

Bump versions and update CHANGELOG.md (#85)
  CHANGELOG.md
  fides-minimal/Chart.yaml
  fides/Chart.yaml
Labels: helm/fides, helm/fides-minimal, documentation

Update index.yaml
  index.yaml
Labels: none

Update default resource contstraints
  fides-minimal/templates/fides/worker-deployment.yaml
  fides-minimal/values.yaml
  fides/templates/fides/worker-deployment.yaml
  fides/values.yaml
Labels: helm/fides, helm/fides-minimal

Update version counter to 0.18.1
  CHANGELOG.md
  fides-minimal/Chart.yaml
  fides/Chart.yaml
Labels: helm/fides, helm/fides-minimal, documentation

Remove limits for CPU
  fides-minimal/templates/fides/worker-deployment.yaml
  fides/templates/fides/worker-deployment.yaml
Labels: helm/fides, helm/fides-minimal

feat: support for HTTP-based liveness probe for Fides Workers.
  CHANGELOG.md
  fides/Chart.yaml
  fides/templates/fides/worker-deployment.yaml
  fides/values.yaml
Labels: helm/fides, documentation

chore: bump Fides application version
  CHANGELOG.md
  fides/Chart.yaml
Labels: helm/fides, documentation

feat: expose health check port in deployment
  fides/templates/fides/worker-deployment.yaml
Labels: helm/fides

Update index.yaml
  index.yaml
Labels: none

feat: make task_always_eager configurable on the workers
  fides/templates/fides/worker-config.yaml
  fides/values.yaml
Labels: helm/fides

feat: add worker queue annotations
  fides-minimal/templates/fides/worker-deployment.yaml
  fides/templates/fides/worker-deployment.yaml
Labels: helm/fides, helm/fides-minimal

chore: bump version + update CHANGELOG.md
  CHANGELOG.md
  fides/Chart.yaml
Labels: helm/fides, documentation

mirror worker config changes to fides-minimal + fix PR template
  .github/pull_request_template.md
  CHANGELOG.md
  fides-minimal/Chart.yaml
  fides-minimal/templates/fides/worker-config.yaml
  fides-minimal/values.yaml
Labels: helm/fides-minimal, documentation, ci/cd

feat: add Temporal as optional chart dependency
  .github/workflows/cd.yaml
  .github/workflows/ci.yml
  CHANGELOG.md
  fides/Chart.lock
  fides/Chart.yaml
  fides/README.md
  fides/templates/_helpers.tpl
  fides/templates/fides/worker-deployment.yaml
  fides/values.yaml
Labels: helm/fides, documentation, ci/cd

fix: align Temporal frontend name, guard temporal-dsr override, let user env vars win
  fides/templates/_helpers.tpl
  fides/templates/fides/worker-deployment.yaml
Labels: helm/fides

.github/labeler.yml:

helm/fides:
  - "fides/**/*"

helm/fides-minimal:
  - "fides-minimal/**/*"

documentation:
  - "**/*.md"

ci/cd:
  - ".github/**/*"
