Repository ethyca/fides-helm, changes with the labels that .github/labeler.yml gives for each.
All labels: helm/fides, helm/fides-minimal, documentation, ci/cd

.github/labeler.yml:

helm/fides:
  - "fides/**/*"

helm/fides-minimal:
  - "fides-minimal/**/*"

documentation:
  - "**/*.md"

ci/cd:
  - ".github/**/*"

chore: bump appVersion to 2.17.0
  fides-minimal/Chart.yaml
  fides/Chart.yaml
Labels: helm/fides, helm/fides-minimal

docs: update changelogs
  fides-minimal/CHANGELOG.md
  fides/CHANGELOG.md
Labels: helm/fides, helm/fides-minimal, documentation

docs: update changelogs
  fides-minimal/CHANGELOG.md
  fides/CHANGELOG.md
Labels: helm/fides, helm/fides-minimal, documentation

Update index.yaml
  index.yaml
Labels: none

docs: fix pr number typos in chart changelogs
  fides-minimal/CHANGELOG.md
  fides/CHANGELOG.md
Labels: helm/fides, helm/fides-minimal, documentation

docs: fix pr number typos in chart changelogs (#65)
  fides-minimal/CHANGELOG.md
  fides/CHANGELOG.md
Labels: helm/fides, helm/fides-minimal, documentation

chore: bump appVersion to 2.17.1
  fides-minimal/Chart.yaml
  fides/Chart.yaml
Labels: helm/fides, helm/fides-minimal

chore: bump appVersion to 2.18.0
  fides-minimal/Chart.yaml
  fides/Chart.yaml
Labels: helm/fides, helm/fides-minimal

chore: update changelogs
  fides-minimal/CHANGELOG.md
  fides/CHANGELOG.md
Labels: helm/fides, helm/fides-minimal, documentation

Update index.yaml
  index.yaml
Labels: none

chore: update changelog
  fides-minimal/CHANGELOG.md
  fides/CHANGELOG.md
Labels: helm/fides, helm/fides-minimal, documentation

Update index.yaml
  index.yaml
Labels: none

feat: specify resources constraints specific to fides and privacy center
  fides/templates/fides/fides-deployment.yaml
  fides/templates/fides/worker-deployment.yaml
  fides/templates/privacy-center/deployment.yaml
  fides/values.yaml
Labels: helm/fides

chore: bump version of Chart to 0.14
  fides/Chart.yaml
Labels: helm/fides

docs: include more sensible resource recommendations
  fides/CHANGELOG.md
  fides/values.yaml
Labels: helm/fides, documentation

docs: fix CHANGELOG references
  fides/CHANGELOG.md
Labels: helm/fides, documentation

Update index.yaml
  index.yaml
Labels: none

chore: bump appVersion to 2.19.0
  fides-minimal/Chart.yaml
  fides/Chart.yaml
Labels: helm/fides, helm/fides-minimal

chore: bump appVersion to 2.19.1
  fides-minimal/Chart.yaml
  fides/Chart.yaml
Labels: helm/fides, helm/fides-minimal

chore: add CHANGELOG.md entry for appVersion upgrade to fides:2.19.1
  fides/CHANGELOG.md
Labels: helm/fides, documentation

Update index.yaml
  index.yaml
Labels: none

chore: bump appVersion to 2.20.0
  fides-minimal/Chart.yaml
  fides/Chart.yaml
Labels: helm/fides, helm/fides-minimal

chore: bump appVersion to 2.20.1
  fides-minimal/Chart.yaml
  fides/Chart.yaml
Labels: helm/fides, helm/fides-minimal

feat: separate Fides webserver and worker resources
  fides/templates/fides/worker-deployment.yaml
  fides/values.yaml
Labels: helm/fides

chore: bump helm chart version and add to CHANGELOG.md
  fides/CHANGELOG.md
  fides/Chart.yaml
Labels: helm/fides, documentation

Update index.yaml
  index.yaml
Labels: none

chore: bump appVersion to 2.20.2
  fides-minimal/Chart.yaml
  fides/Chart.yaml
Labels: helm/fides, helm/fides-minimal

chore: bump appVersion to 2.21.0
  fides-minimal/Chart.yaml
  fides/Chart.yaml
Labels: helm/fides, helm/fides-minimal

Service Annotations
  fides-minimal/templates/fides/fides-service.yaml
  fides/templates/fides/fides-service.yaml
Labels: helm/fides, helm/fides-minimal

chore: upgrade fides, update changelog
  CHANGELOG.md
  fides-minimal/.helmignore
  fides-minimal/CHANGELOG.md
  fides-minimal/Chart.yaml
  fides-minimal/values.yaml
  fides/.helmignore
  fides/Chart.yaml
  fides/values.yaml
Labels: helm/fides, helm/fides-minimal, documentation

Update index.yaml
  index.yaml
Labels: none

chore: upgrade fides, update changelog
  CHANGELOG.md
  fides-minimal/.helmignore
  fides-minimal/CHANGELOG.md
  fides-minimal/Chart.yaml
  fides-minimal/values.yaml
  fides/.helmignore
  fides/Chart.yaml
  fides/values.yaml
Labels: helm/fides, helm/fides-minimal, documentation

feat(fides): Add custom secrets for all fides containers.
  fides/Chart.yaml
  fides/templates/_helpers.tpl
  fides/templates/fides/fides-deployment.yaml
  fides/templates/fides/worker-deployment.yaml
  fides/values.yaml
Labels: helm/fides

Add extra line
  fides/templates/_helpers.tpl
Labels: helm/fides

Update index.yaml
  index.yaml
Labels: none

Allow service to be scaled.
  fides-minimal/templates/fides/fides-deployment.yaml
  fides-minimal/values.yaml
  fides/templates/fides/fides-deployment.yaml
  fides/values.yaml
Labels: helm/fides, helm/fides-minimal

Allow Privacy Center scaling.
  fides-minimal/templates/privacy-center/deployment.yaml
  fides-minimal/values.yaml
  fides/templates/privacy-center/deployment.yaml
  fides/values.yaml
Labels: helm/fides, helm/fides-minimal

Move counts out of service.
  fides-minimal/templates/fides/fides-deployment.yaml
  fides-minimal/templates/privacy-center/deployment.yaml
  fides-minimal/values.yaml
  fides/templates/fides/fides-deployment.yaml
  fides/templates/privacy-center/deployment.yaml
  fides/values.yaml
Labels: helm/fides, helm/fides-minimal

feat: add ability to set replica counts for web servers
  CHANGELOG.md
  fides-minimal/Chart.yaml
  fides-minimal/templates/privacy-center/deployment.yaml
  fides/Chart.yaml
  fides/templates/privacy-center/deployment.yaml
Labels: helm/fides, helm/fides-minimal, documentation

Update index.yaml
  index.yaml
Labels: none
