Repository ethyca/fides-helm, changes with the labels that .github/labeler.yml gives for each.
All labels: helm/fides, documentation, ci/cd

.github/labeler.yml:

helm/fides:
  - "fides/**/*"

documentation:
  - "**/*.md"

ci/cd:
  - ".github/**/*"

feat: CI/CD for Helm charts
  .fides/fides.toml
  .github/workflows/cd.yaml
  .github/workflows/ci.yml
Labels: ci/cd

fix: add celery.toml file
  fides/templates/fides/fides-config.yaml
  fides/templates/fides/fides-deployment.yaml
  fides/templates/fides/worker-deployment.yaml
Labels: helm/fides

fix: consent deployment configuration
  fides/config/privacyCenterConfig.json
  fides/templates/privacy-center/config.yaml
  fides/templates/privacy-center/deployment.yaml
Labels: helm/fides

fix: remove worker
  fides/templates/fides/worker-deployment.yaml
Labels: helm/fides

fix: change policy keys to be the default policies
  fides/config/privacyCenterConfig.json
Labels: helm/fides

Removing fides.toml
  .fides/fides.toml
Labels: none

docs: add chart-level README.md
  fides/README.md
Labels: helm/fides, documentation

docs: add configuration information
  fides/README.md
Labels: helm/fides, documentation

fix: remove unused values
  fides/values.yaml
Labels: helm/fides

docs: add reference to root README.md
  README.md
Labels: documentation

docs: added info about Fides
  fides/README.md
Labels: helm/fides, documentation

fix: remove CORS settings if ingress is disabled
  fides/templates/fides/fides-config.yaml
Labels: helm/fides

style: fix whitespace around helm templates
  fides/templates/fides/fides-config.yaml
Labels: helm/fides

chore: upgrade to 2.1.0
  fides/Chart.yaml
Labels: helm/fides

chore: increment chart version
  fides/Chart.yaml
Labels: helm/fides

docs: add initialDelaySeconds extension suggestions
  fides/templates/fides/fides-deployment.yaml
Labels: helm/fides

fix: increase startupProbe time for pc and make probes configurable for fides
  fides/templates/fides/fides-deployment.yaml
  fides/templates/privacy-center/deployment.yaml
  fides/values.yaml
Labels: helm/fides

feat: improved helm tests
  fides/templates/tests/test-connection.yaml
Labels: helm/fides

fix: switch Fides Slack URL
  fides/templates/NOTES.txt
Labels: helm/fides

fix: change Privacy Center copy
  fides/config/privacyCenterConfig.json
Labels: helm/fides

docs: add comment for config.json templating
  fides/templates/privacy-center/config.yaml
Labels: helm/fides

fix: change working dir for ci
  .github/workflows/ci.yml
Labels: ci/cd
