Repository ethyca/fides-helm, changes with the labels that .github/labeler.yml gives for each.
All labels: helm/fides, helm/fides-minimal, documentation, ci/cd

chore: bump version to 2.14 for fides-minimal
  fides-minimal/Chart.yaml
Labels: helm/fides-minimal

Update index.yaml
  index.yaml
Labels: none

fix: change celery health checks following unnesting of ops code
  fides-minimal/templates/fides/worker-deployment.yaml
  fides/templates/fides/worker-deployment.yaml
Labels: helm/fides, helm/fides-minimal

chore: bump chart version
  fides-minimal/Chart.yaml
  fides/Chart.yaml
Labels: helm/fides, helm/fides-minimal

Update index.yaml
  index.yaml
Labels: none

docs: create a CHANGELOG for Fides and fides-minimal
  fides-minimal/CHANGELOG.md
  fides/CHANGELOG.md
Labels: helm/fides, helm/fides-minimal, documentation

feat: update pr template with steps to update the CHANGELOG.md files
  .github/pull_request_template.md
Labels: documentation, ci/cd

feat: update Create-PR template
  .github/workflows/create-pr.yml
Labels: ci/cd

fix: add CHANGELOG.md to .helmignore files
  fides-minimal/.helmignore
  fides/.helmignore
Labels: helm/fides, helm/fides-minimal

docs: changelog entry for changelog entry in .helmignore
  fides-minimal/CHANGELOG.md
Labels: helm/fides-minimal, documentation

feat: add flag for debug mode on Privacy Center
  fides-minimal/templates/privacy-center/deployment.yaml
  fides-minimal/values.yaml
  fides/CHANGELOG.md
  fides/templates/privacy-center/deployment.yaml
  fides/values.yaml
Labels: helm/fides, helm/fides-minimal, documentation

feat: add comment to privacyCenter.configuration.debug in values.yaml
  fides-minimal/values.yaml
  fides/values.yaml
Labels: helm/fides, helm/fides-minimal

feat: add privacy center URL env var
  fides-minimal/templates/privacy-center/deployment.yaml
  fides/templates/privacy-center/deployment.yaml
Labels: helm/fides, helm/fides-minimal

feat: allow arbitrary env vars to be passed to the Privacy Center
  fides-minimal/templates/privacy-center/deployment.yaml
  fides-minimal/values.yaml
  fides/templates/privacy-center/deployment.yaml
  fides/values.yaml
Labels: helm/fides, helm/fides-minimal

fix: missing space in template for FIDES_PRIVACY_CENTER__PRIVACY_CENTER_URL
  fides-minimal/templates/privacy-center/deployment.yaml
  fides/templates/privacy-center/deployment.yaml
Labels: helm/fides, helm/fides-minimal

fix: path to additionalEnvVars, config -> configuration
  fides-minimal/templates/privacy-center/deployment.yaml
  fides/templates/privacy-center/deployment.yaml
Labels: helm/fides, helm/fides-minimal

fix: add conditionals around additionalEnvVars setup
  fides-minimal/templates/privacy-center/deployment.yaml
  fides/templates/privacy-center/deployment.yaml
Labels: helm/fides, helm/fides-minimal

chore: update changelog and bump version numbers
  fides-minimal/CHANGELOG.md
  fides-minimal/Chart.yaml
  fides/CHANGELOG.md
  fides/Chart.yaml
Labels: helm/fides, helm/fides-minimal, documentation

docs: update chart.yamls to remove old, irrelevant keywords
  fides-minimal/Chart.yaml
  fides/Chart.yaml
Labels: helm/fides, helm/fides-minimal

chore: update dependent helm charts
  fides/Chart.lock
  fides/Chart.yaml
Labels: helm/fides

docs: update CHANGELOG following the helm dependency updates
  fides/CHANGELOG.md
Labels: helm/fides, documentation

Update index.yaml
  index.yaml
Labels: none

chore: bump appVersion to 2.14.1
  fides-minimal/Chart.yaml
  fides/Chart.yaml
Labels: helm/fides, helm/fides-minimal

docs: CHANGELOG update for Fide version bump
  fides-minimal/CHANGELOG.md
  fides/CHANGELOG.md
Labels: helm/fides, helm/fides-minimal, documentation

Update index.yaml
  index.yaml
Labels: none

chore: bump appVersion to 2.14.2
  fides-minimal/Chart.yaml
  fides/Chart.yaml
Labels: helm/fides, helm/fides-minimal

docs: CHANGELOG update for Fides version bump
  fides-minimal/CHANGELOG.md
  fides/CHANGELOG.md
Labels: helm/fides, helm/fides-minimal, documentation

Update index.yaml
  index.yaml
Labels: none

chore: bump appVersion to 2.15.0
  fides-minimal/Chart.yaml
  fides/Chart.yaml
Labels: helm/fides, helm/fides-minimal

docs: update fides chart changelog
  fides/CHANGELOG.md
Labels: helm/fides, documentation

docs: update fides-minimal chart changelog
  fides-minimal/CHANGELOG.md
Labels: helm/fides-minimal, documentation

Update index.yaml
  index.yaml
Labels: none

chore: bump appVersion to 2.15.1
  fides-minimal/Chart.yaml
  fides/Chart.yaml
Labels: helm/fides, helm/fides-minimal

chore: update fides chart changelog
  fides/CHANGELOG.md
Labels: helm/fides, documentation

chore: update fides-minimal chart changelog
  fides-minimal/CHANGELOG.md
Labels: helm/fides-minimal, documentation

Update index.yaml
  index.yaml
Labels: none

chore: bump appVersion to 2.16.0
  fides-minimal/Chart.yaml
  fides/Chart.yaml
Labels: helm/fides, helm/fides-minimal

chore: update fides chart changelog
  fides/CHANGELOG.md
Labels: helm/fides, documentation

chore: update fides-minimal chart changelog
  fides-minimal/CHANGELOG.md
Labels: helm/fides-minimal, documentation

Update index.yaml
  index.yaml
Labels: none

.github/labeler.yml:

helm/fides:
  - "fides/**/*"

helm/fides-minimal:
  - "fides-minimal/**/*"

documentation:
  - "**/*.md"

ci/cd:
  - ".github/**/*"
